body {
  text-align: center;

}

#sitename{
  
  margin-left: 5%;
  font-size: 3.1em;
  font-family: 'Amatic SC', cursive;
}

.navigation{

  margin-left: 33%;
  font-size: 2.3em;
}

.navbar-nav a { 

  margin-left: 15%;
  font-family: 'Amatic SC', cursive;
}


.carousel-inner{
  height:800px;
}



.backunimage{

	background-position:50% 50%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-image:url('ecoleback.jpg');
}

.backdeuximage{

	background-position:50% 50%;
	background-repeat:no-repeat;
	background-attachment:fixed;
  background-image:url('workback.png');
}

.backtroisimage{

	background-position:50% 50%;
	background-repeat:no-repeat;
	background-attachment:fixed;
  background-image:url('hobbiesback.png');

}


#Etudes{
  margin-bottom: 5%;
  text-align: center;
}

#ecoles, ul{
  font-family: 'Julius Sans One', sans-serif;
  margin-top:10%;
}

#Experiences{

  text-align: center;
  margin-top: 20%;
 
}

.firstexp{

  margin-top: -3%;
}

.secondexp{

  margin-top:-2%;
}

#Hobbies{

  text-align: center;
  margin-top: 20%;;
  font-size: 3em;
 
}

#untaf{
margin-left: -10%;
text-decoration : underline;
margin-top: 40%;
}

.untafdescription{

  font-size: 0.8em;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 15%;
  margin-left: -30%;
}

#deuxtaf{
  text-decoration : underline;
  margin-top: 40%;
  margin-left: 72%;
  }
  
.deuxtafdescription{
  
    font-size: 0.8em;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 5%;
    margin-left: 70%;
    
  }

  #myself{

    margin-left: 15%;
    margin-top: 15%;
  }


  #lien{
    margin-left: 15%;
    font-family: 'Amatic SC', cursive;
  }
  #reference{

    margin-left: 50%;
    font-size: 0.8em;
    font-style: italic;
    font-style: bold; 
    font-family: 'Cinzel Decorative';
  }

  #titrehobbie{

    margin-top :30%;
    margin-left:20%;
  }

#favsentence{

  font-family: 'Amatic SC', cursive;
  margin-top :5%;
  margin-left :5%;
  font-size: 1.5em;
}

  #titrehobbie2{

    margin-top :10%;
    margin-left:45%;
  }

  #madsentence{

    font-family: 'Amatic SC', cursive;
    margin-top :5%;
    margin-left :40%;
    font-size: 1.5em;
  }

  #titrehobbie3{

    text-align:center;
    margin-left: -3%;
  }

  #bbsentence{
    font-family: 'Amatic SC', cursive;
    font-size: 1.7em;
    margin-left: 25%;
    margin-top:5%;

  }
  #boguesentence{
    font-family: 'Amatic SC', cursive;
    font-size: 1.7em;
    margin-left: 20%;
    margin-top:5%;

  }
  #assosentence{

    margin-left:30%;
    margin-top: 10%;
    font-family: 'Amatic SC', cursive;
    font-size: 2.0em;
  }
  mark{
    text-decoration: underline;
  }

#titrehobbie4{

  margin-left: 10%;
  margin-top: 3%;
}

  #unsentenceauri{

    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-top: 3%;
    font-size: 2.0em;
  }
  #deuxsentenceauri{

    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-top: 3%;
    font-size: 2.0em;
  }
 
  #titrehobbie5{

    margin-left : 48%;
  }

  #sentenceexpo{
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    margin-top: 6%;
    text-align: center;
    margin-left: 3%;


  }
  #madjacques{

    margin-left: 25%;
  }

  #labogue{

    margin-left: 20%;

  }

  #bleues{

    margin-left: 25%;

  }

  #lachorba{

    margin-left: -5%;

  }
  #aurillac{

    margin-left: 25%;

  }

  .randoetc{
    margin-bottom:70%;
    margin-top: 10%;

  }
  .aventuresetc{
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .festivetc{
    margin-top: -40%;
    margin-bottom: 10%;
  }

  .assoetc{
    margin-bottom: 40%;
    margin-top: 30%;
  }

  .Theatreetc{
    margin-bottom: 10%;
    margin-top: 40%;
  }
  
  .exposetc{

    margin-bottom: 0%;
    margin-top: 40%;
  }

  

p{
  font-size: 1.4em;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 8em;

  }
  #imageun{

    margin-bottom : 1150px;
    margin-left : 83%;
    font-size: 5em;
    color: #F3F94A;
    font-family: 'Bangers', cursive;
  }

  #imagedeux{

    margin-bottom : 740px;
    margin-left:0%;
    font-size: 3.2em;
    font-family: 'Bangers', cursive;
  }
  #imagetrois{

    margin-bottom : 700px;
    margin-left:70%;
    font-size: 5em;
    font-family: 'Bangers', cursive;
  }

h3{
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
  text-decoration : underline;
}

h2{
 font-family: 'Bangers', cursive;
 color:white;
 font-size: 5em;
 margin-top: 60%;
 padding-top : 60%;
 
}

h4{
  font-style: bold;
  font-family: 'Cinzel', serif;
  margin-left: 35%;
  padding-top: -20%;
  background-color: #D3D3D3;
}

#Contact{

  text-align: center;
  margin-top: 5%;
}
.infos{

  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;;
}

#moreinfos{
  
  text-align: center;
}



@media (min-width: 576px) {
  .affiches {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .affiches  {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .affiches {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .affiches {
    max-width: 1140px;
  }
}




